<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{../css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link th:href="@{../css/bootstrap.css}" rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<meta charset=UTF-8>
	<title>Login</title>
<style type="text/css">
	body{
	background: gray;
	}
	.wrapper{
	margin: 130px;
	}
	.form-signin{
	max-width: 480px;
	margin: 0 auto;
	background-color: white;
	padding: 20px 60px 40px;
	border: 1px solid #e5e5e5;
	}
	.form-signin .forms-signin-heading{
	margin-bottom: 50;
	}
	.form-signin input[type="text"], .form-signin input[type="password"]{
	margin-bottom: 30px;
	}
	.form-signin .form-control{
	padding: 12px;
	}
</style>
</head>
<body class="text-center">
	<div>
	<nav></nav>
	</div>
	<div class="wrapper"></div>
	   <form class="form-signin" th:object="${usuarionuevo}" th:action="@{/guardarproducto}" method="post">
		<h2 class="form-signin-heading text center">Inicia Sesion</h2>
		<input type="text" class="form-control" name="username" placeholder="Usuario" />
		<input type="password" class="form-control" name="password" placeholder="password" />
		<button type="submit" class="btn btn-lg btn-primary btn-block">Acceder</button>
	</form>
</body>
</html>



