<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>CLIENT</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	></script>
</head>
<meta charset="ISO-8859-1">
<title>Cliente</title>
</head>
<body class="text-center">
	<div class="form-group">
		<form action="productos" class="form-group">
			<input type="submit" class="btn btn-outline-primary" value="Mostrar Productos">
		</form>
		<form action="vender" class="form-group">
			<input type="submit" class="btn btn-outline-primary" value="Carrito">
		</form>
		<form action="login" class="form-group" id="formCerrarSesion">
			<input type="submit" class="btn btn-outline-primary" value="login">
		</form>
	</div>
</body>
</html>